mixin vlntr()
    section.ud-vlntr
        header.ud-vlntr__header
            h1.txt-title-3.ud-vlntr__title Волонтерство
        .ud-vlntr__main
            .ud-vlntr__desc
                p.ud-vlntr__p
                    |Университет детей не мог бы существовать без волонтеров: каждое воскресенье мы проводим от 4 до 8 занятий и именно волонтеры помогают нам следить за дисциплиной в аудиториях, встречать наших студентов и их родителей и помогают им сориентироваться в университете или другой выездной площадке.
                p.ud-vlntr__p
                    |Волонтерство в Университете детей дает возможность посещать закрытые научные лекции, познакомиться со множеством ученых из разных областей науки и прокачать свои организаторские навыки.
            .ud-block-1.ud-vlntr__block
                .ud-vlntr__wrapper
                    h2.txt-title-4.ud-vlntr__subtitle Как стать волонтером?
                    p.ud-vlntr__p
                        |<a href='https://goo.gl/forms/yI4GHR8Jn4mQNwTS2' target='_blank'>Заполнить анкету</a> и пройти интервью
            .ud-block-1.ud-vlntr__block
                .ud-vlntr__wrapper
                    h2.txt-title-4.ud-vlntr__subtitle Что получают волонтеры?
                    ul.ud-ul
                        li.ud-ul__item Знакомство с ведущими учеными разных областей науки;
                        li.ud-ul__item Возможность посещать закрытые лекции и получать новые знания в доступном и интересном формате;
                        li.ud-ul__item Возможность прокачать свои организаторские навыки;
                        li.ud-ul__item Рекомендации и характеристики для будущих работодателей;
                        li.ud-ul__item Карту друга Университета детей, которая дает скидки у наших партнеров: Музей советских игровых автоматов, книжный магазин «Подписные издания», кафе «Фартук и кофейня The Bonch, квесты «Кидрум» и «Разум квест».
            .ud-block-1.ud-vlntr__block
                .ud-vlntr__wrapper
                    h2.txt-title-4.ud-vlntr__subtitle Зачем мне тратить так много времени?
                    p.ud-vlntr__p Потому что ты хочешь знать ответы на многие детские вопросы, а в Университете детей круто и понятно об этом рассказывают
            .ud-block-1.ud-vlntr__block
                .ud-vlntr__wrapper
                    h2.txt-title-4.ud-vlntr__subtitle А есть ли у меня какие-то перспективы роста?
                    p.ud-vlntr__p Да, конечно. У нас в команде работает 2 человека, которые пришли к нам волонтерами. Мы всегда видим и ценим тех, кто разделяет наше видение.
            .ud-vlntr__list
                h2.txt-title-4.ud-vlntr__subtitle._vol Наши волонтеры
                -
                    var volunteers = [
                        {
                            image: 'img/volunteer-2@2x.png',
                            name: 'Ксения Грачева',
                            text: '<p class="txt-text-2 ud-vlntr__p">Меня зовут Ксюша,мне 16 лет.Я учусь в школе и занимаюсь пиаром социальных сетей. Я увидела рекламу в Вконтакте о том ,что проекту требуются волонтеры и решила сходить на день открытых дверей. Там я познакомилась с организаторами, и сходила на первое занятие, после этого я решила каждое воскресенье ходить на лекции университета детей. И вот уже с сентября 2017 года я помогаю на лекциях университета.</p>' +
                            '<p class="txt-text-2 ud-vlntr__p">Больше всего в университете детей мне нравится возможность ' +
                            'общения с детьми,все дети открытые и очень общительные, а также возможность послушать лекции, потому что я думаю, что все лекторы очень интересно и доступно рассказывают, что лекции интересны людям всех возрастов.</p>'
                        },
                        {
                            image: 'img/volunteer-1@2x.png',
                            name: 'Александра Косоротикова',
                            text: '<p class="txt-text-2 ud-vlntr__p">Мне 18 лет, я учусь на первом курсе филологического факультета СПбГУ. Изначально я не планировала связывать свою жизнь с педагогикой, но в последнее время думаю о работе в сфере дополнительного образования с детьми, заинтересованными в изучаемом предмете.</p>' +
                            '<p class="txt-text-2 ud-vlntr__p">Осенью я случайно увидела объявление о наборе волонтеров в Университет детей. Идея проекта показалась мне очень интересной и нужной. Я помогаю проекту с октября 2017 года. Волонтерство в Университете детей дает возможность попасть на уникальные лекции и расширить свой кругозор, пообщаться с ребятами, которые рассуждают и выражают свое мнение совсем по-взрослому.</p>' +
                            '<p class="txt-text-2 ud-vlntr__p">Мне интересно наблюдать за ходом занятий, которые часто проходят в интерактивной форме, и отмечать что-то полезное для себя - каким образом стоит преподносить информацию детям, как удержать их внимание, вовлечь их в процесс. Особенно приятно помогать на лекциях с самыми маленькими студентами, которые искренно и непосредственно делятся с товарищами и преподавателями своими простыми радостями вроде выпавшего зуба; не менее интересно присутствовать на лекциях с более старшими ребятами, включенными в процесс обсуждения какого-то научного вопроса.</p>' +
                            '<p class="txt-text-2 ud-vlntr__p">Я очень рада, что оказалась здесь, искренне верю в большое будущее Университета детей, планирую и в дальнейшем помогать проекту и развиваться вместе с ним.</p>'
                        }
                    ]
                each val in volunteers
                    .ud-vlntr-person.ud-vlntr__person
                        .ud-vlntr-person__image(style=`background-image: url("${val.image}")`)
                        .ud-vlntr-person__name= val.name
                        .ud-vlntr-person__info !{val.text}
            .ud-vlntr__card
                .ud-vlntr__card-image
                    +imgSrcset('img/volunteers-card','jpg')
                h2.txt-title-4.ud-vlntr__subtitle Карта друга Университета детей
                p.txt-text-2 Это наш способ сказать «спасибо». Карта дает право получать бонусы и скидки у наших партнеров
                .ud-vlntr__card-list
                    -
                        var volCardList = [
                            {
                                title: 'Музей советских игровых автоматов',
                                text: 'Единственная и уникальная коллекция действующих игровых автоматов, выпускавшихся в СССР с середины 1970-х годов.',
                                link: 'Конюшенная пл., 2, лит В',
                                subtext: 'Минус 50 рублей на билет. Действует для держателей карты и его друзей.'
                            },
                            {
                                title: 'Подписные издания',
                                text: 'Семейный книжный магазин «Подписные издания» существует в Петербурге с 1926 года. Интересный подбор литературы, небольшие издательства, редкая канцелярия.',
                                link: 'Литейный проспект, 57',
                                subtext: 'Скидка 10%'
                            },
                            {
                                title: 'Кафе-бар «Фартук»',
                                text: 'Небольшое семейное кафе-бар с домашней кухней, где можно сидеть часами.',
                                link: 'Улица Рубинштейна, 15/17',
                                subtext: 'Скидка 10%'
                            },
                            {
                                title: 'Кофе-бар «Bonch»',
                                text: 'Завтраки, ланчи и отменный кофе.',
                                link: 'Большая Морская, 16',
                                subtext: 'Скидка 10%'
                            }
                        ]
                    each val in volCardList
                        p.txt-text-2.ud-vlntr__card-item
                            b= val.title
                            span= val.text
                            a(href='#')= val.link
                            em= val.subtext